<a href="https://colab.research.google.com/github/lalit784bhaiu/lalit/blob/master/map_filter_and_reduce_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# map function : it is a built in function that alows you to process and transform all item in an iterable without using an explicit for-loop

# Example

list1=["1","2","3","4","5","6"]

# this list containing some numbers are in string format now i have to change the type of string using map function (tranform)

transform_list = list(map(int,list1))
print(transform_list)

[1, 2, 3, 4, 5, 6]

In [5]:
initial_list = [1,2,3,4,5,6,7,8,9,10]

final_list = list(map(lambda x,:x+2 , initial_list))
print(final_list)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [10]:
initial_list1=[1,2,3,4,5,6,7,8]

def square(a):
  return a*a

def cube(a):
  return a*a*a

func = [square , cube]

for i in range (0,8):
  
  val = list(map(lambda x:x(i) , func))
  
  print(val)

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]
[25, 125]
[36, 216]
[49, 343]

In [4]:
# filter function : 

initial_list = [1,2,3,4,5,6,7,8,9]

def even_numbers(num):

  if num % 2 == 0:
    return num 

even_nums = filter(even_numbers , initial_list)

print(even_nums)

for num in even_nums:
  print(num)

<filter object at 0x7f31b7970b50>
2
4
6
8

In [9]:
# reduce function : it is used to apply a particular function to its elements mentioned all the sequence passed along .
from functools import reduce

list1 = [1,2,3,4,5,6,7,8,9]  # i have to add all these numbers without using the for loop 
                             # i have to find the product of all these summulative number without using any of the loop 
final_list = reduce(lambda x,y:x+y , list1)--+

print(final_list)

45